<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>
        {% block title %}
            csesa
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="http://cse-shirazu.ir/yassets/semantic-ui/semantic.helper.css">
    <link rel="stylesheet" href="http://cse-shirazu.ir/yassets/semantic-ui/semantic.rtl.helper.css">
    <link rel="stylesheet" href="http://cse-shirazu.ir/yassets/font/irsans/irsans.css">
    <link rel="stylesheet" href="http://cse-shirazu.ir/yassets/swal/sweetalert.css">

    <link rel="stylesheet" href="http://cse-shirazu.ir/assets/css/base.css">


  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>

    {% block styles %}
    {% endblock styles %}

    <script type="text/javascript">
        (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script");r.type="text/javascript";
        r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-3.0.1-min.gz.js";
        r.onload=function(){e.amplitude.runQueuedFunctions()};var i=t.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(r,i);function s(e,t){e.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
        return this}}var o=function(){this._q=[];return this};var a=["add","append","clearAll","prepend","set","setOnce","unset"];
        for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[];return this;
        };var p=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"];
        for(var l=0;l<p.length;l++){s(c,p[l])}n.Revenue=c;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId"];
        function v(e){function t(t){e[t]=function(){e._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
        }}for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){e=(!e||e.length===0?"$default_instance":e).toLowerCase();
        if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]};e.amplitude=n;
        })(window,document);

        amplitude.getInstance().init("7081aaaec8edcbf42ed30ed42686947c");
    </script>

    <script src="http://cse-shirazu.ir/yassets/amplitude/amplitude.helper.js" charset="utf-8"></script>

    <script src="http://cse-shirazu.ir/yassets/vue2/vue.min.js" charset="utf-8"></script>

</head>
<body>

    {% block content %}
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="http://cse-shirazu.ir/yassets/swal/sweetalert.min.js" charset="utf-8"></script>
    <script src="http://cse-shirazu.ir/yassets/swal/sweetalert.helper.js" charset="utf-8"></script>

    <script type="text/javascript">
        $('.ui.dropdown').dropdown();
    </script>

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>