{% extends "base.html" %}

{% block content %}

<div class="container" style="background-color: #FFFFFF; margin: 30px auto;
        width: 400px; padding: 30px; text-align: center;">

    <div class="top_container ">
        <div class="col-sm-10" style="display:block; margin: auto;">
            <h2>{{ title }}</h2>
            <hr/>
            <p class="form_description">{{ form_description }}</p>

            <!--{% if messages %}-->
                <!--<div class='messages'>-->

                <!--<ul class="messages">-->
                <!--{% for message in messages %}-->
                <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>-->
                <!--{% endfor %}-->
                <!--</ul>-->

                <!--</div>-->
            <!--{% endif %}-->

            <form method='POST' action='' id="theform" enctype='multipart/form-data' class="djform ui form">{% csrf_token %}
                {{ form }}
                <div style="text-align: center; margin-top: 0px;">
                    <input class="ui positive button" style="margin: 10px; background-color:#009F4D;" value="ارسال" type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    input#id_username, input#id_password {
        margin: 10px;
    }
</style>
{% endblock content %}
