<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>
        csesa
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="http://95.216.62.138/yassets/swal/sweetalert.css">

    <link rel="stylesheet" href="http://95.216.62.138/assets/css/base.css">

</head>
<body dir="rtl">
    {% if message %}
    <p>
        {{ message }}
    </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input placeholder="شماره دانشجویی" style="margin: 10px;" type="text" name="gid" />
        <select style="margin: 10px;" name="cid">
            <option value="-1">درس و گروه</option>
            {% for c in courses %}
            <option value="{{ c.id }}">{{ c.title }} | {{ c.group }}</option>
            {% endfor %}
        </select>
        <input type="submit" style="margin: 10px;" value="افزودن"/>
    </form>
    <table>
        <thead>
            <th>
                profile id
            </th>
            <th>
                نام
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                شماره دانشجویی
            </th>
            <th>
                عنوان درس
            </th>
            <th>
                گروه
            </th>
            <th>
                وضعیت
            </th>
        </thead>
        <tbody>
            {% for gcr in gcrs %}
            <tr>
                <td>
                    {{ gcr.content_object.id }}
                </td>
                <td>
                    {{ gcr.content_object.user.first_name }}
                </td>
                <td>
                    {{ gcr.content_object.user.last_name }}
                </td>
                <td>
                    {{ gcr.content_object.user.username }}
                </td>
                <td>
                    {{ gcr.campaign.title }}
                </td>
                <td>
                    {{ gcr.campaign.group }}
                </td>
                <td>
                    {{ gcr.status }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>