{% extends "base.html" %}

{% block styles %}
    <style media="screen">
        .info.field p {
            font-weight: 400;
        }
    </style>
{% endblock styles %}

{% block content %}

    <div class="ui hidden divider"></div>
    <br>

    <div class="hide on mobile hard">
        <div class="ui hidden divider"></div>
        <br>
    </div>

    <div class="ui center aligned grid">
        <div class="fourteen wide mobile nine wide tablet six wide computer column">
            <div class="ui padded raised right aligned segment">

            <form class="ui form is-rtl" method="post" action="{% url 'users:login' %}">
                {% csrf_token %}

                <h2 class="ui center aligned header" style="margin-top: 13px;">ورود به سایت نظرسنجی</h2>
                <h4 class="ui center aligned header" style="margin-top: 13px;">انجمن علمی کامپیوتر</h4>

                {% if error %}
                    <div class="ten wide column">
                        <div class="ui icon rtl negative message">
                            <i class="remove icon"></i>
                            <div class="content">
                                <div class="header">
                                    اطلاعات صحیح نیست
                                </div>
                                <p>لطفا اطلاعات وارد شده را بررسی کنید</p>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endif %}

                <div class="info field">
                    <p>
                        رمز عبور خود را میتوانید در <a href="https://sess.shirazu.ac.ir">sess</a>، قسمت پیام ها، با عنوان <i>"نظرسنجي انجمن علمي کامپيوتر"</i> پیدا کنید.
                    </p>
                    <p>درصورت بروز مشکل از طریق <a href="https://telegram.me/devcom_support">تلگرام</a> با ما تماس بگیرید.</p>
                </div>

                <div class="ui hidden divider"></div>


                <div class="field">
                    <div class="ui left icon input">
                        <input class="is-ltr" type="text" name="username" placeholder="شماره دانشجویی">
                        <i class="link circular mail icon"></i>
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <input class="is-ltr" type="password" name="password" id="pass" placeholder="رمز عبور">
                        <i class="link circular lock icon"></i>
                    </div>
                </div>

                <div class="ui hidden divider"></div>

                <div class="is-text-center">
                    <button class="ui positive large left labeled icon submit button" type="submit">
                        ورود به سایت
                        <i class="signup icon"></i>
                    </button>
                </div>

            </form>

            </div>
        </div>
    </div>

{% endblock content %}
