{% extends "telegramboard/base.html" %}
{% block content %}
    <div class="content-section" style="text-align:right">
        <h2 style="direction:rtl">روش های تماس:</h2>
        <br>
        <p style="direction:rtl"><strong>تلفن (محمد باستین) :</strong> 09379852503</p>
        <p style="direction:rtl"><strong>تلفن (علی مهدی یار) :</strong> 09171164374</p>
        <p style="direction:rtl"><strong>ایمیل (محمد باستین) :</strong> mohamadbastin@gmail.com</p>
        <p style="direction:rtl"><strong>ایمیل (علی مهدی یار) :</strong> alimahdiyar77@gmail.com</p>
        <a style="direction:rtl" href="#"><strong>راهنما: </strong>دانلود</a>


    </div>
{% endblock content %}