{% extends "telegramboard/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">حذف پیام</legend>
                <h2 style="direction:rtl">آیا مطمئنید میخواهید '{{ object.title }}' را حذف کنید؟ </h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">حذف</button>
                <a class="btn btn-outline-secondary" href="{% url 'telegramboard:post-detail' object.id %}">بازگشت</a>

            </div>
        </form>
    </div>
{% endblock content %}