{% extends "telegramboard/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_objected }}</small>
          {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'telegramboard:post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'telegramboard:post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
          {% if object.image %}
        <img src="{{ object.image.url }}" style="max-width:700px; max-height:700; ">
          {% endif %}
          {% if object.file %}
          <div>
          <a href="{{ object.file.url }}">{{ object.file }}</a>
          </div>
          {% endif %}
      </div>
    </article>
{% endblock content %}