<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ارسال اطلاعیه</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.menu .item').tab();

            $('.message .close')
              .on('click', function() {
                $(this)
                  .closest('.message')
                  .transition('fade')
                ;
              });

        });
    </script>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>

